{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<title>Web Admin panel</title>
	<link rel="icon" type="image/png" href="{% static 'backend/images/fav.png'%}">
	<link rel="stylesheet" href="{% static 'backend/css/font-awesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'backend/css/themify-icons.css'%}">
	<link rel="stylesheet" href="{% static 'backend/css/line-icons.css'%}">
	<link rel="stylesheet" href="{% static 'backend/css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{% static 'backend/css/animate.min.css'%}">
	<link rel="stylesheet" href="{% static 'backend/css/style.css'%}">
	<link rel="stylesheet" href="{% static 'backend/css/color.css'%}">
	<link rel="stylesheet" href="{% static 'backend/css/responsive.css' %}">
</head>

<body>
	<!-- Start Page Loading -->
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div class="panel-layout">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="admin-lock vh100">
						<div class="admin-form">
							<div class="logo"><img src="images/logo2.png" alt=""></div>
							<h4>Sign Up Account</h4>
							<span>Please enter your user information</span>
							<form method="post" action="{% url 'res_register'%}">
								{%csrf_token%}
								<label><i class="fa fa-user-circle-o"></i></label>
								<input type="text" placeholder="Complete Name" name="name">
								<label><i class="fa fa-envelope"></i></label>
								<input type="text" placeholder="Email Address" name="email">
								<label><i class="fa fa-unlock-alt"></i></label>
								<input type="password" placeholder="Password" name="password">
								<label><i class="fa fa-unlock-alt"></i></label>
								<input type="password" placeholder="Confirm Password" name="confirmpassword">
								<label><i class="fa fa-unlock-alt"></i></label>
								<input type="text" placeholder="Address of Restaurant" name="address">
								<label><i class="fa fa-unlock-alt"></i></label>
								<input type="number" placeholder="Pincode" name="pincode">
								<label><i class="fa fa-unlock-alt"></i></label>
								<input type="number" placeholder="Contact Number" name="contactnumber">
								<button type="submit">Sign Up</button>
							</form>
							<span>Already a member? <a href="#" title="">Sign in</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'backend/js/jquery.js'%}"></script>
	<script src="{% static 'backend/js/bootstrap.min.js'%}"></script>
	<script src="{% static 'backend/js/custom.js'%}"></script>
</body>

</html>