{% extends "backend/res_master.html" %}
{% block formdemo %}
<div class="panel-body">
    <div class="content-area">
        <div class="sub-bar">
            <div class="sub-title">
                <h4>Dashboard:</h4>
                <span>Welcome To web Admin Panel!</span>
            </div>
            <ul class="bread-crumb">
                <li><a href="#" title="">Home</a></li>
                <li>Dashbord</li>
            </ul>
        </div>
        <div class="row">
            {% for agent_index in agent_list%}
            <div class="col-md-4">
                <div class="row merged">
                    <div class="col-lg-12">
                        <div class="events">
                            <div class="event-head">
                                <h5>{{agent_index.order_id.id}}</h5>
                            </div>
                            <ul class="event-detail">
                                <li> <span>Agent Details:-<br></span>
                                    <img src="{{agent_index.agent_id.profile_pic.url}}" alt="Image Not Found"
                                        style="width: 50px;height: 50px;">
                                    <h6><span>Agent Name:- {{agent_index.agent_id.fname}}
                                            {{agent_index.agent_id.lname}}</span></h6>
                                    <p>Agent Contact Number:- {{agent_index.agent_id.mobile_no}}</p>
                                </li>




                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    <div class="bottombar">
        <span>© 2019. Dewwater. All Rights Reserved.</span>
    </div>
</div>

{%endblock%}