{% extends "backend/res_master.html" %}
{% block formdemo %}
<div class="panel-body">
    <div class="content-area">
        <div class="sub-bar">
        </div>
        <!-- top subbar -->
        <div class="info-section">
            <div class="panel-widget">
                <div class="b-meta">
                    <i class="icon-people"></i>
                    <div class="info-meta">
                        <h4>{{total_delivered_orders}}</h4>
                        <span>Total Completed Orders</span>
                    </div>
                    <span class="hundred blue"></span>
                </div>
            </div>
            <div class="panel-widget">
                <div class="b-meta">
                    <i class="icon-login"></i>
                    <div class="info-meta">
                        <h4>{{total_ongoing_orders}}</h4>
                        <span>Total Ongoing Orders</span>
                    </div>
                    <span class="hundred purpal"></span>
                </div>
            </div>
            <div class="panel-widget">
                <div class="b-meta">
                    <i class="icon-like"></i>
                    <div class="info-meta">
                        <h4>{{total_dish}}</h4>
                        <span>Total Dishes </span>
                    </div>
                    <span class="hundred green"></span>
                </div>
            </div>
        </div>
        <!-- top info widgets -->


        <div class="widget">
            <div class="widget-title">
                <h4>Organizational Statistics</h4>
                <ul class="widget-controls">
                    <li title="Refresh" class="refresh-content"><i class="fa fa-refresh"></i></li>
                    <li title="Maximize" class="expand-content"><i class="icon-frame"></i></li>
                    <li title="More Options" class="more-option"><i class="ti-more-alt"></i></li>
                </ul>
            </div>
            <div class="widget-peding">
                <div class="revenue-chart line">
                    <canvas id="canvas_line4"></canvas>
                </div>
            </div>
        </div>
        <!-- line dot chart full -->

    </div>
    <div class="bottombar">
        <span>© 2019. Dewwater. All Rights Reserved.</span>
    </div>
    <!-- bottombar -->
</div>

{%endblock%}