{% extends "backend/res_master.html" %} {% block formdemo %}
<script>
    // Function to check Whether both passwords 
    // is same or not. 
    function checkPassword(form) {
        password1 = form.newpassword.value;
        password2 = form.confirmpasswordid.value;
        // pwd1=getElementById('pwd1');

        // If password not entered 
        if (password1 == '')
            alert("Please enter Password");

        // If confirm password not entered 
        else if (password2 == '')
            alert("Please enter confirm password");

        // If Not same return False.     
        else if (password1 != password2) {
            alert("\nPassword did not match: Please try again...")
            return false;
        }

        // If same return True. 
        else {
            return true;
        }
    }
</script>
<div class="panel-body">
    <form method="POST" action="{%url 'res_updatePassword'%}" onSubmit="return checkPassword(this)">
        {%csrf_token%}
        <div class="content-area">
            <div class="sub-bar">
                <div class="sub-title">
                    <h4>Dashboard:</h4>
                    <span>Welcome To web Admin Panel!</span>
                </div>
                <ul class="bread-crumb">
                    <li><a href="#" title="">Home</a></li>
                    <li>Dashbord</li>
                </ul>
            </div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <div class="alert alert-danger"> {{message}} </div>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="inner-bg">
                <div class="element-title">
                    <h4>Change Password</h4>
                </div>
                <div class="pnl-bdy billing-sec">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 field">
                            <label>Old Password<span>*</span> </label>
                            <input type="password" name="oldpassword">
                        </div>
                        <div class="col-md-6 col-sm-6 field">
                            <label>New Password<span>*</span> </label>
                            <input type="password" name="newpassword">
                        </div>
                        <div class="col-md-6 col-sm-6 field">
                            <label>Confirm Password<span>*</span> </label>
                            <input type="password" name="confirmpassword">
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <button type="submit">Update Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="bottombar">
        <span>© 2019. Dewwater. All Rights Reserved.</span>
    </div>
    {%endblock%}