{% extends "backend/res_master.html" %}
{% block formdemo %}
<div class="panel-body">

    <div class="content-area">
        <div class="sub-bar">
            <div class="sub-title">
                <h4>Dashboard:</h4>
                <span>Welcome To web Admin Panel!</span>
            </div>
            <ul class="bread-crumb">
                <li><a href="#" title="">Home</a></li>
                <li>Dashbord</li>
            </ul>
        </div>
        <div class="gap no-gap">
            <form method="POST" action="{%url 'res_updateDiscount' discount.id%}">
                {%csrf_token%}
                <div class="inner-bg">
                    <div class="element-title">
                        <h4>Update Discount</h4>
                        <span>Please fill the form bellow.</span>
                    </div>
                    <div class="add-prod-from">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <label>Discount</label>
                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                    <input class="form-control" value="{{discount.discount_value}}" name="discount"
                                        placeholder="Enter the value in %" type="number">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="input-group">
                                    <label>Minimum Order Value</label>
                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                    <input class="form-control" value="{{discount.discount_limit}}" name="discountlimit"
                                        placeholder="Minimum Order value in Rupees" type="number">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label>Discount Description</label>
                                <textarea cols="30" name="discountdescription" rows="10"
                                    placeholder="Describe the Offer....">{{discount.discount_description}}</textarea>
                            </div>



                            <div class="col-md-12">
                                <div class="buttonz">
                                    <button type="submit">Update Discount</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="bottombar">
        <span>© 2019. Dewwater. All Rights Reserved.</span>
    </div>
    <!-- bottombar -->
</div>
{%endblock%}