<!-- responsive header -->
{% extends "admin/a_master.html" %} {% block formdemo %}
{%load static%}
<div class="panel-body">
  <div class="content-area">
    <div class="sub-bar">
      <div class="sub-title">
        <h4>{{docs.res_id.name}}</h4>
        <span></span>
      </div>
      <ul class="bread-crumb">
        <li><a href="#" title="">Home</a></li>
        <li>Dashbord</li>
      </ul>
    </div>
    <div class="inner-bg">
      <div class="mega-menu demo">
        <div class="col-md-12" style="float: left;">
          <h2>Documents Uploaded By Restaurant</h2>
          <br>
          <h4>Gst Number:-{{docs.gst_number}}</h4>
          <hr>
          <div style="font-size: 20px; float: left;" class="col-md-6">Shop Or Fssai License</div>
          <div class="col-md-6" style="float: left;">
            <img style="width: 180px; height: 150px;" src="{{docs.shop_fssai_license.url}}" alt="Image Not Found">
            <hr>
          </div>
          <div style="font-size: 20px; float: left;" class="col-md-6">Pancard</div>
          <div class="col-md-6" style="float: left;">
            <img style="width: 180px; height: 150px;" src="{{docs.pan_card.url}}" alt="Image Not Found">
          </div>
        </div>
      </div>
      <br>
      <div style="float: left;margin-top: 27px; margin-left: 350px;" >
        <a href="{%url 'a_verifyRestaurant' docs.res_id.id%}"><button class="btn-st grn-clr">Verify
            Restaurant</button></a>
        <a href="{%url 'a_rejectRestaurant' docs.res_id.id%}"><button class="btn-st rd-clr">Reject
            Restaurant</button></a>
      </div>
    </div>
  </div>
  <div class="bottombar">
    <span>© 2019. Dewwater. All Rights Reserved.</span>
  </div>
  <!-- bottombar -->
</div>
</div>
</div>
</div>
</div>
</div>
</div>{%endblock%}