{% extends "agent/agent_master.html" %} {% block formdemo %}
<div class="panel-body">
    <form method="POST" action="{%url 'agent_updateProfile'%}" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="content-area">
            <div class="sub-bar">
                <div class="sub-title">
                    <h4>Dashboard:</h4>
                    <span>Welcome To web Admin Panel!</span>
                </div>
                <ul class="bread-crumb">
                    <li><a href="#" title="">Home</a></li>
                    <li>Dashbord</li>
                </ul>
            </div>
            <div class="inner-bg">
                <div class="element-title">
                    <h4>Edit profile</h4>
                    <span>Edit your profile</span>
                </div>
                <div class="pnl-bdy billing-sec">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 field">
                            <span class="upload-image">Agent Profile Photo</span>
                            <img src="" alt="Profile not available" style="height: 30px; width: 30px; border-radius: 50%;">
                            <label class="fileContainer"> <span>upload</span>
                                <input type="file" name="profile_pic">
                            </label>
                        </div>

                        <div class="col-md-12 col-sm-12 field">
                            <label>First Name <span>*</span> </label>
                            <input type="text" name="fname" value="{{agent_list.fname}}">
                        </div>
                        <div class="col-md-12 col-sm-12 field">
                            <label>Last Name <span>*</span> </label>
                            <input type="text" name="lname" value="{{agent_list.lname}}">
                        </div>
                        <div class="col-md-6 col-sm-6 field">
                            <label>Date Of Birth<span>*</span> </label>
                            <input value="{{agent_list.dob}}" type="text" disabled name="dob">
                        </div>
                        <div class="col-md-6 col-sm-6 field">
                            <label>Email<span>*</span> </label>
                            <input value="{{agent_list.email}}" disabled type="email" name="email">
                        </div>
                        <div class="col-md-6 col-sm-6 field">
                            <label>Mobile Number<span>*</span> </label>
                            <input value="{{agent_list.mobile_no}}" type="text" name="mobile_no">
                        </div>

                        <div class="col-md-12 col-sm-12 field">
                            <label>Address<span>*</span> </label>
                            <input placeholder="" name="address" value="{{agent_list.address}}" type="text">
                        </div>

                        <div class="col-md-6 col-sm-6 field">
                            <label>Pincode <span>*</span> </label>
                            <input placeholder="" name="pincode" value="{{agent_list.pincode}}" type="number">
                        </div>


                        <div class="col-md-12 col-sm-12">
                            <button type="submit">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="bottombar">
        <span>© 2019. Dewwater. All Rights Reserved.</span>
    </div>
    {%endblock%}