{% extends "buyer/buyer_master.html" %} {% block formdemo %}
<!-- payment page-->
<div class="privacy">
	<div class="container">
		<!-- tittle heading -->
		<h3 class="tittle-w3l">Payment
			<span class="heading-style">
				<i></i>
				<i></i>
				<i></i>
			</span>
		</h3>
		<!-- //tittle heading -->
		<div class="checkout-right">
			<!--Horizontal Tab-->
			<div id="parentHorizontalTab">
				<ul class="resp-tabs-list hor_1">
					<li>Cash on delivery</li>
					<li>Pay Via PayTM</li>
				</ul>
				<div class="resp-tabs-container hor_1">

					<div>
						<div class="vertical_post check_box_agile">
							<h5>COD</h5>
							<div class="checkbox">
								<div class="check_box_one cashon_delivery">
									<label class="anim">

										<span> <a href="{%url 'buyer_addOfflineOrder'%}" title=""><button
													class="btn btn-primary">Place Order With COD</button></a></span>
									</label>
								</div>

							</div>
						</div>
					</div>
					<div>
						<div class="vertical_post check_box_agile">
							<h5>Paytm</h5>
							<div class="checkbox">
								<div class="check_box_one cashon_delivery">
									<label class="anim">

										<span> <a href="{%url 'buyer_addOnlineOrder'%}" title=""><button
													class="btn btn-primary">Place Order via paytm</button></a></span>
									</label>
								</div>

							</div>
						</div>
					</div>


				</div>
			</div>
			<!--Plug-in Initialisation-->
		</div>
	</div>
</div>
{%endblock%}
<!-- //payment page -->